# ----------------------------------------
# CFX core resources
# ----------------------------------------

# ensure yarn
# ensure webpack
# ensure mapmanager
ensure chat
# ensure spawnmanager
# ensure sessionmanager
# ensure hardcap
# ensure rconlog
