# ----------------------------------------
# Custom FIVEMPRO resources (ensure order matters for MLO + blips)
# ----------------------------------------

ensure fivempro_basics
ensure fivempro_carry
ensure fivempro_ikaitas
ensure fivempro_hud
ensure fivempro_vehiclemenu
ensure fivempro_phone
ensure fivempro_dispatch
ensure fivempro_gangs
ensure fivempro_spawnfix
ensure fivempro_weaponcontrol
ensure fivempro_bank
ensure fivempro_npcshops
ensure fivempro_housing
ensure fivempro_mapfix
# ensure SLBK11_MissionRow
ensure [mlo]
ensure fivempro_gabz_blips
ensure fivempro_dealership
ensure fivempro_garages
ensure fivempro_kma
ensure fivempro_playerlog
ensure fivempro_ltpd
ensure fivempro_hacking
ensure fivempro_mechanic
ensure fivempro_ambulance
ensure fivempro_taxi
ensure fivempro_bikerental
ensure fivempro_drivingschool
ensure fivempro_mining
ensure fivempro_outdoors
ensure fivempro_licenses
ensure fivempro_ranger
ensure fivempro_fuel
ensure fivempro_stripclub
ensure fivempro_trucking
