# ----------------------------------------
# Custom FIVEMPRO resources
# ----------------------------------------

ensure fivempro_basics
ensure fivempro_hud
ensure fivempro_spawnfix
ensure fivempro_weaponcontrol
ensure fivempro_bank
ensure fivempro_npcshops
ensure fivempro_mapfix
ensure SLBK11_MissionRow
ensure fivempro_dealership
ensure fivempro_garages
ensure fivempro_kma
ensure fivempro_playerlog
ensure fivempro_ltpd
ensure fivempro_mechanic
ensure fivempro_ambulance
