# ----------------------------------------
# FiveM server config (modular)
# ----------------------------------------

exec cfg/00_base.cfg
exec cfg/10_core.cfg
exec cfg/20_qb.cfg
exec cfg/30_custom.cfg

